<div class="card">
  <!-- artist -->
  <img class="card-img-top logo" src="/assets/images/person.png" alt="Card image cap">
  <div class="card-body">
    <table align="center">
      <tr>
        <td><b>Firstname :</b></td>
        <td style="padding-left:20px">{{artist.firstname}}</td>
      </tr>
      <tr>
        <td><b>Lastname :</b></td>
        <td style="padding-left:20px">{{artist.lastname}}</td>
      </tr>
      <tr>
        <td><b>Band :</b></td>
        <td style="padding-left:20px">{{artist.band}}</td>
      </tr>
      <tr>
        <td><b>Favorite Instrument :</b></td>
        <td style="padding-left:20px">{{artist.favoriteInstrument}}</td>
      </tr>
      <tr>
        <td><p align="center" class="card-text"> <b>List of played instruments :</b> </p></td>
        <td style="padding-left:20px">
          {{artist.instruments.toString()}}
        </td>
      </tr>
    </table>
  </div>

</div>
