<form>
  <div class="form-group">
    <label>Band name :</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your band name">
  </div>

  <div class="form-group">
    <label>Band description :</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label>Load a picture for the band :</label>
    <input type="file" class="form-control-file" id="logo" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Image format file (png, jpg ..)</small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
