.logo {
  max-width:25%;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

#left, #right {
  width: 100px; //change this to whatever required
float: left;
}
