<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <table class="tg">
      <tr>
        <th class="tg-yw4l" rowspan="2">
          <img src="/assets/images/img.png"/>
        </th>
        <th class="tg-yw4l">
          <p><b><i>
            Looking to create your band ?<br/>
            This app is made for you !
          </i></b></p>
        </th>
      </tr>
      <tr>
        <td class="tg-yw4l">
          <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Sign Up &raquo;</a>
        </td>
      </tr>
    </table>
  </div>
</div>

